
.otherCases {
  display: flex;
  justify-content: center;
flex-wrap: wrap;
}
.otherCase {
  width: 20vw;
  flex-wrap: wrap;
  margin-right: 30px;
}

.otherCase img{
  width: 250px;
  height: 150px;

}

.technologiesText {
  font-style: italic;
  font-size: 15px;
}