.thingsWeDoContainer{}
.thingsWeDoSwitch{
  display: flex;
}

.thingsWeDoSwitches{
  width: 25vw;
}
.allSwitches {
  display: flex;
  justify-content: center;
}
.excel{
  width:20vw;
}
.allSwitches h2{
  display: flex;
}