.footerContainer  {
  display: flex;
  justify-content: center;
  background: #002142;
}

.footerItem {
  margin-right: 100px
}

.footerItem ul {
  list-style: none;
}

.footerItem a {
  color: #808080;
  text-decoration: none;
}