@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.style {
    text-shadow: 1px 2px 0px #ebebeb,
    0 0 0 black,
    -1px 1px 0 #ebebeb,
    5px 5px 0 #333;

    color: rgba(64, 65, 63, 1.0000);
}


body {
    margin: 0;
    background-color: #5774b8 !important;
    display: inline-block;
}
.sandbox-correct-pronounciation {
    padding: 10em 0 10em 0;
}
.heading-correct-pronounciation {
    margin: auto;
    text-align: center;
    position: relative;
}

.bottom {
    font-size: 1.5em;
    letter-spacing: 0.07em;
    font-size: 1em;
    display: block;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
